.Body-Background{
    background-image: url("Art.png");
    background-position: center;
    background-size: cover;
    text-align: center;
}

#Circle{
    border: 3px rgb(255, 81, 0) dotted;
    background-color: rgb(255, 207, 188);
}

input{
    color: rgb(255, 174, 137);
    background-color: rgb(255, 51, 0);
}

h1{
    color: rgb(255, 72, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span{
    color: rgb(255, 72, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Color{
   margin-bottom: 50px;
}

#Clear{
    border: 3px rgb(255, 81, 0) dotted;
    border-radius: 50px;
    height: 25px;
    width: 100px;
    background-color: rgb(255, 196, 168);
    color: rgb(255, 72, 0);
    cursor: pointer;
}

#Width{
    margin-right: 20px;
}